<% content_for(:title) { "Bug Board" } %>
<div class="gridster">
  <ul>
    
	
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="untriaged-bugs" data-view="Number" data-title="Untriaged Urgent Bugs" style="background-color:#F00"></div>
	</li>
	
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="urgent-bugs" data-view="Number" data-title="Open Urgent Bugs" style="background-color:#F00"></div>
    </li>
	
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="open-bugs" data-view="Number" data-title="All Bugs" style="background-color:#96bf48;"></div>
    </li>
	
    
	
  </ul>
</div>