<% content_for(:title) { "My super sweet dashboard" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="bugs" data-view="Number" data-title="Bugs" style="background-color:#96bf48;"></div>
    </li>
  </ul>
</div>